bs4
beautifulsoup4
soupsieve
pip
Jinja2
MarkupSafe
Werkzeug
click
blinker
itsdangerous
numpy
threadpoolctl
gensim
scipy==1.12
joblib
scikit-learn
wrapt
Flask
transformers
datasets
torch
pandas
pyarrow
